<div class="terms-content">
    <h4>شروط وأحكام إعادة التدوير</h4>
    <ol>
        <li>يجب أن تكون المواد المراد إعادة تدويرها نظيفة وخالية من المخلفات الغذائية</li>
        <li>لا نقبل المواد الخطرة أو السامة</li>
        <li>سيتم تحديد موعد الاستلام خلال 24 ساعة من تقديم الطلب</li>
        <li>للمواد الكبيرة، قد يتم تطبيق رسوم نقل إضافية</li>
        <li>سيتم خصم النقاط من حسابك عند تأكيد الاستلام</li>
    </ol>

    <h4 class="mt-4">سياسة الدفع</h4>
    <ul>
        <li>التسليم العادي: مجاني</li>
        <li>التسليم السريع: 5 دينار (توصيل خلال ساعتين)</li>
        <li>يجب تأكيد الدفع الإلكتروني قبل المعالجة</li>
    </ul>
</div>