
.bg-green {
    background: #19875492 !important;
}

.green-radio input[type="radio"] {
    accent-color: #198754; /* Your desired green color */
    cursor: pointer;
    appearance: none; /* Remove default styling */
    width: 20px; /* Set custom width */
    height: 20px; /* Set custom height */
    border-radius: 50%; /* Make it circular */
    outline: none;
    display: inline-block;
    position: relative;
}

    .green-radio input[type="radio"]:checked {
        background-color: #198754; /* Fill green when selected */
    }

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
